/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * https://github.com/joffrey-bion/javafx-themes/blob/master/css/modena_dark.css
 */

/* Redefine base colors */
.root {
    -fx-base: rgb(70, 70, 70);
    -fx-background: rgb(70, 70, 70);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(45, 45, 45);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(45, 45, 45);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

/* ULYP part */

.tooltip {
    -fx-font-size: 0.8em;
}

.ulyp-error-text {
    -fx-font-size: 1.2em;
    -fx-fill: rgb(255, 30, 30);
}

.ulyp-help-text {
    -fx-font-size: 1.2em;
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt {
    -fx-font-size: 1.0em;
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-identity-hash-code {
    -fx-font-size: 0.8em;
}

.ulyp-ctt-string {
    -fx-fill: rgb(0, 120, 0);
}

.ulyp-ctt-bracket {
    -fx-fill: rgb(255,140,0);
    -fx-font-weight: bold;
}

.ulyp-ctt-typename {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-typename.ulyp-ctt-callee {
    -fx-fill: rgb(255, 198, 109);
}

.ulyp-ctt-identity.ulyp-ctt-callee {
    -fx-fill: rgb(255, 198, 109);
}

.ulyp-ctt-number {
    -fx-fill: rgb(74, 133, 186);
}

.ulyp-ctt-file {
    -fx-fill: rgb(32, 187, 191);
}

.ulyp-ctt-null {
    -fx-fill: rgb(255,140,0);
}

.ulyp-ctt-identity {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-object-value {
    -fx-fill: rgb(169, 183, 198);
}


.ulyp-ctt-thrown {
    -fx-fill: rgb(255, 84, 80);
}

.ulyp-ctt-method-name {
    -fx-fill: rgb(255, 198, 109);
}

.ulyp-ctt-method-name.ulyp-ctt-instance-method-name {
}

.ulyp-ctt-object-repr {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-arg-name {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-sep {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-ctt-sep {
    -fx-text-fill: white;
}

.ulyp-ctt-class-name {
    -fx-text-fill: rgb(220, 220, 220);
}

.ulyp-ctt-call-node {
    -fx-background-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: rgb(50, 50, 50);
    -fx-min-height: 20;
    -fx-max-height: 20;
}