.tooltip {
    -fx-font-size: 0.8em;
}

.ulyp-help-text {
    -fx-font-size: 1.2em;
}

.ulyp-error-text {
    -fx-font-size: 1.2em;
}

.ulyp-call-tree {
    -fx-font-size: 1.0em;
}

.ulyp-call-tree-identity-hash-code {
    -fx-font-size: 0.8em;
}
