.ulyp-error-text {
    -fx-fill: rgb(255, 30, 30);
}

.ulyp-bright-text {
    -fx-fill: rgb(255, 191, 30);
}

.ulyp-call-tree-string {
    -fx-fill: rgb(0, 120, 0);
}

.ulyp-call-tree-bracket {
    -fx-fill: rgb(255,140,0);
    -fx-font-weight: bold;
}

.ulyp-call-tree-typename {
    -fx-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-typename.ulyp-call-tree-callee {
    -fx-fill: rgb(0, 0, 0);
}

.ulyp-call-tree-identity.ulyp-call-tree-callee {
    -fx-fill: rgb(0, 0, 0);
}

.ulyp-call-tree-number {
    -fx-fill: rgb(74, 133, 186);
}

.ulyp-call-tree-file {
    -fx-fill: rgb(21, 129, 132);
}

.ulyp-call-tree-null {
    -fx-fill: rgb(255,140,0);
}

.ulyp-call-tree-identity {
    -fx-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-object-value {
    -fx-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-return-value {

}

.ulyp-call-tree-return-value.ulyp-call-tree-thrown {
    -fx-fill: rgb(255, 84, 80);
}

.ulyp-call-tree-method-name {
    -fx-fill: rgb(0, 0, 0);
}

.ulyp-call-tree-method-name.ulyp-call-tree-instance-method-name {

}

.ulyp-call-tree-object-repr {
    -fx-fill: rgb(169, 183, 198);
}

.ulyp-call-tree-arg-name {
    -fx-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-sep {
    -fx-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-sep {
    -fx-text-fill: white;
}

.ulyp-call-tree-class-name {
    -fx-text-fill: rgb(70, 70, 70);
}

.ulyp-call-tree-call-node {
    -fx-background-color: rgb(225, 225, 225);
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: rgb(225, 225, 225);
    -fx-min-height: 20;
    -fx-max-height: 20;
}
